.list-brand {
    margin-top: 15px;
}

.list-brand .list-brand__wrap {}

.list-brand__row {}

.list-brand__row .brand-item {
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    font-size: 12px;
    font-weight: 700;
    line-height: 1.4;
    color: #666;
    border-radius: 4px;
    box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 8%);
}

@media (max-width:739px) {
    .hide-on-mobile {
        display: none;
    }
    .list-brand__row .brand-item {
        padding: 4px;
        font-size: 12px;
        font-weight: 700;
        line-height: 1.4;
        border-radius: 4px;
    }
}