.card {
    display: block;
    width: 100%;
    position: relative;
    /* border: 1px solid red; */
    padding: 10px;
    color: #333;
}

.card:hover {
    z-index: 5;
}

.card:hover:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: calc(100% + 40px);
    border: solid 1px #ddd;
    border-radius: 2px;
    box-shadow: 0 3px 6px 0 rgb(0 0 0 / 16%);
    background-color: #fff;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}



.card:hover .card__image img {
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    transform: scale(1.04);
}

.card:hover .card__info {
    transform: scale(1.0);
}

.card:hover .card__btn {
    visibility: visible;
    opacity: 1;
}

.card .card__image {
    position: relative;
    margin: 15px auto;
    padding-top: 10px;
}

.card .card__image img {
    width: 100%;
}

.card .card__image .card__image-percent {
    position: absolute;
    top: -25px;
}

.card .card__image .card__image-percent i {
    display: flex;
    color: #f8f8f8;
    align-items: center;
    justify-content: center;
    font-style: normal;
    font-size: 12px;
    font-weight: 700;
    padding-bottom: 4px;
}

.card .card__image .card__image-sale {
    position: absolute;
    bottom: -6px;
    overflow: hidden;
}

.card .card__image .card__image-sale i {
    display: flex;
    color: #f8f8f8;
    align-items: center;
}

.card .card__image .card__image-sale i:after {
    content: "HOT SALE";
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0 0;
    font-size: 8px;
    font-weight: 700;
    line-height: 1.2;
    font-style: italic;
    color: #fff;
    text-align: center;
}

.card .card__info {
}

.card .card__info .card__info-name {
    margin-bottom: 10px;
}

.card .card__info .card__info-name h3 {
    font-size: 14px;
    font-weight: 700;
    line-height: 1.4em;
    color: #222;
    text-align: left;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.card .card__info .card__info-price {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}

.card .card__info .card__info-price .special-price {
    margin-right: 8px;
    font-size: 14px;
    font-weight: 700;
    color: #d70018;
}

.card .card__info .card__info-price .old-price {
    font-size: 12px;
    color: #716b6b;
    text-decoration: line-through;
}

.card .card__info .card__info-rating {
    font-size: 12px;
    line-height: 1.2;
}

.card .card__info .card__info-promotion {
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 2px;
    background-color: #f8f8f8;
}

.card .card__info .card__info-promotion p {
    font-size: 12px;
    line-height: 1.4;
    color: #444;
    text-align: left;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.card .card__info .card__info-rating i.fa-star.checked {
    color: orange;
}

.card .card__info .card__info-rating .rating_text {
    margin-left: 10px;
}

.card .card__btn {
    visibility: hidden;
    display: flex;
    margin-top: 10px;
    position: absolute;
    left: 5px;
    right: 5px;
    bottom: -35px;
    opacity: 0;
    cursor: pointer;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}

.card .card__btn [class*=card__btn-] {
    width: calc(100% - 10px);
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    font-size: 12px;
    font-weight: 700;
    text-align: center;
    color: #fff;
    text-decoration: none;
}

.card .card__btn .card__btn-buy {
    background-image: linear-gradient(to bottom, #f52f32, #d70018 50%);
    margin-right: 10px;
}

.card .card__btn .card__btn-compare {
    background-image: linear-gradient(to bottom, rgba(108, 117, 125, .8), #6c757d 50%);
}

@media (max-width:739px) {
    .card .card__info .card__info-rating {
        font-size: 10px;
    }
}