.order{
  margin-top: 35px;
  background-color: #eee;
}
.order .sidebar{
  background-color: #eee;
  padding: 0;
  box-shadow: inset 0 0 2px gray;
  border-radius: 5px 0 0 5px;
  min-height: 200px;
  height: 100%;
}
.order .sidebar li{
  list-style: none;
  padding: 12px;
  cursor: pointer;
}
.order .sidebar li.active{
  display: block;
  width: 100%;
  background-color: #00483d;
  box-sizing: border-box;
  border-radius: 5px 0 0 5px;
  margin-left: 5px;
  color: #fff
}
.order .btn-detail{
  padding: 5px 10px;
  color: #00483d;
}

/* .order .sidebar a{
  display: block;
}
.order .sidebar ul{
  margin: 0;
  padding: 0;
  list-style: none;
}
.order .sidebar ul li{
  padding: 15px;
}
.order .sidebar ul li a{
  display: block;
  color: #333;
  padding: 5px 10px;
  box-sizing: border-box;
  margin: 5px 0 5px 10px;
  border-radius: 5px 0 0 5px;
  text-decoration: none;
}
.order .sidebar ul li a.active{
  background: #333;
  color: #fff;
} */