
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.app{
  overflow: hidden;
}
ul{
  padding: 0;
  margin: 0;
}
body {
  font-family: -apple-system,BlinkMacSystemFont,'Segoe UI';
  font-size: 13px;
  font-weight: 400;
  color: #333;
  margin: 0;
  padding: 0;
  background: #f4f4f4;
}




.grid1 {
  width: 100%;
  display: block;
  padding: 0;
  overflow: hidden;
}

.primary-color{
  color:var(--primary-color);
}
.btn{
  font-size: 1.4rem;
  background-color: #00483d;
  min-width: 210px;
  height: 40px;
  padding: 0;
  line-height: 38px;
  border-color: #00483d;
}
.btn:hover,.btn:focus,.btn:active{
  color:#fff;
  background-color: #00483d;
  opacity: 0.94;
}
.cart__header{
  display: flex;
  align-items: center;
  font-size: 1.4rem;
  font-weight: 300;
  height: 55px;
  background-color: var(--white-color);
  margin: 15px 0 0;
  padding:0 20px;
  border:2px;
  box-shadow: 0 1px 2px #e0e0e0;
}
.cart__list{
  background-color: var(--white-color);
  margin: 15px 0 15px;
  overflow: hidden;
  border-top: 1px dashed rgba(0,0,0,0.1);
}
.cart__item{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 115px;
  padding: 15px 20px 20px;
  margin-top: 15px;
  font-size: 1.4rem;
  font-weight: 300;
  border-bottom: 1px dashed rgba(0,0,0,0.1);
  color: var(--text-color);
}
.cart__check{
  width: 58px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -2px;
}
.cart__check--input{
  width: 18px;
  height:18px;
  cursor: pointer;
}
.cart__info{
  flex:1;
  font-weight: 400;
  display: flex;
  align-items: flex-start;
}
.cart__img--containers{
  width: 80px;
  height: 100%;
}
.cart__img{
  width: 100%;
  vertical-align: middle;
  object-fit: cover;
  object-position: center;
}
.cart__price{
  width: 200px;
  text-align: center;
}
.cart__price--old{
  font-size: 1.3rem;
  text-decoration: line-through;
  margin-right: 5px;
}
.cart__name{
  width: 270px;
  padding:5px 20px 0 10px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2rem;
}
.cart__total{
  width: 115px;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
}
.cart__edit{
  width: 130px;
  text-align: center;
}
.cart__amount{
  width: 170px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cart__amount--current{
  width: 32px;
  height: 32px;
  font-size: 1.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid rgba(0,0,0,.09);
  border-bottom: 1px solid rgba(0,0,0,.09);
}
.cart__amount--operator{
  font-size: 2rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  color: var(--text-color);
  border: 1px solid rgba(0,0,0,.09);
  cursor: pointer;
}
.shopee-svg-icon{
  width: 10px;
  height: 25px;
}
.cart__edit--remove{
  cursor: pointer;
}
.cart__footer{
  box-sizing: unset;
  padding: 15px 0;
  height: 70px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border: 1px dashed rgba(0,0,0,.09);
  background-color: var(--white-color);
  width: 100%;
}
.cart__all--product{
  flex:1;
  font-size: 1.6rem;
}
.cart__total--products{
  font-size: 1.6rem;
  color:var(--text-color);
  display: flex;
  align-items: center;
}
.cart__total--vnd{
  font-size: 2.6rem;
  font-weight: 500;
  color:var(--primary-color);
  padding:0 8px;
}
.buy-now{
  margin:0 15px;
  color:#fff;
}




/* Style css Footer */

.footer {
  margin: 35px 0 25px;
  border-top: 4px solid #00483d;
  padding-top: 12px;
}

.footer__heading {
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: bold;
  color: #00483d;
  padding: 10px 0;
}

.footer-list {
  list-style-type: none;
  padding-left: 0;
}

.footer-item__link {
  display: block;
  text-decoration: none;
  color: #737373;
  font-size: 1.2rem;
  padding: 4px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-item__link:hover {
  color: var(--primary-color);
}

.footer-item__link-icon {
  font-size: 1.4rem;
  padding-right: 8px;
}

.footer__download {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__download-qr {
  width: 80px;
  height: 80px;
  border: 1px solid var(--border-color);
}

.footer__download-apps {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-left: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
}

.footer__download-app-img {
  height: 16px;
}









.is-invalid{
  border: 1px solid red;
}
.p-l-10{
  padding-left: 10px;;
}

.product__details--description img{
  width: 100%;
  height: auto;
  object-fit: cover;
}