.loading-modal{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(209, 209, 209, .5);
  z-index: 99;
}
.loading{
  width: 100px;
  height: 100px;
  color: #6bc4c4;
}